/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #64829B;
  color: #F6F4F5;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #F6F4F5;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #686C33;
  color: #F6F4F5;
  padding: 10px;
  text-align: center;
}

/* Estilos específicos para el logo */
.logo {
  text-align: center;
}

.logo img {
  max-width: 200px;
}

/* Estilos para el logotipo MIGO.STORE */
h1 {
  font-family: "Imprint MT Shadow", serif;
  font-size: 62px;
  color: orange;
  border: 1px solid black;
  display: inline-block;
  padding: 5px;
}
